@charset

:root {
    --cor0: #ff2c26;
    --cor1: #f4403b;
    --cor2: #602a29;
    --cor4: #160c0b;

}



body {
    height: 100vh;
    background-color: black;   
}

header  { 
    min-width: 150px;
    text-align: center;
    background-color: black;
    color: #ff2c26;
    padding: 5px;
   
}

nav {
    background-color:#602a29;
    padding: 10px;
    margin: auto;
    font-weight: bold;
    font-size: 0.8em;
}

nav > a {
    color: white;
    text-decoration: none;
    margin: 5px;
    border-radius: 5px;
    transition-duration: 0.5s;
    padding: 10px;
}

nav > a:hover {
    background-color: #ff2c26;
    color: var(--cor0);
}

main {
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 5px 5px 15px rgba(136, 109, 93, 0.616);
    width: 600px;
    padding: 10px;
    margin: auto;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;

}
aside > a {
    text-decoration: none;
    font-weight: bold;
}

strong {
    color: #f4403b; 
}

main a {
    text-decoration: none;
}

main h1 { 
    text-align: center;
    color: #602a29;
}

main h2 {
    color: #602a29;
}