@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}

body , html {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header > div.logo {
    background-image: url(imagens/logo-principal-pq.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 150px; 
}



nav {
    background-color: rgb(5, 5, 5);
    margin-bottom: 20px;
    border-radius: 8px;
    
}

i#burguer {
    text-align: center;
    color: rgb(245, 242, 242);
    font-size: 2em;
    display: block;
    padding: 5px;
    cursor: pointer;
}

i#burguer:hover {
    margin: auto;
    text-align: center;
    border-radius: 8px;
    background-color: brown;
    transform: translate(-3px, -3px);
    transition: transform .4s;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li {
    padding: 1px;
    width: 90vw;
    text-align: center;
    margin: auto;
}



menu > ul > li > a {
    display: block;
    margin: auto;
    padding: 8px;
    text-decoration: none;
    background-color: rgb(85, 22, 22);
    color: white;
    text-align: center;
    border-radius: 5px;
    
}


menu > ul > li > a:hover {
    background-color: brown;
}

menu > a:hover {
    background-color: brown;
    border-radius: 8px;
    text-decoration: underline;
    
}

main {
    background-color: white;
    color: black;
    border-radius: 8px;
    width: 85vw;
    margin: auto;
    padding: 10px;
}

main > article > h1 {
    text-align: center;
    padding: 10px;
}

main > article > p {
    padding: 5px;
    text-align: justify;
    text-indent: 15px;
}

    

