@charset

:root {
    --cor0: #ff2c26;
    --cor1: #f4403b;
    --cor2: #602a29;
    --cor4: #160c0b;

}

@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

/* font-family: 'Alkatra', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* font-family: 'Work Sans', sans-serif; */

body {
    height: 100vh;
    background-color: black;   
}

header  { 
    min-width: 150px;
    text-align: center;
    background-color: black;
    color: #ff2c26;
    padding: 5px;
   
}

nav {
    background-color:#602a29;
    padding: 10px;
    margin: auto;
    font-weight: bold;
    font-size: 0.8em;
}

nav > a {
    color: white;
    text-decoration: none;
    margin: 5px;
    border-radius: 5px;
    transition-duration: 0.5s;
    padding: 10px;
}

nav > a:hover {
    background-color: #ff2c26;
    color: var(--cor0);
}

main {
    min-width: 300px;
    max-width: 800px;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 5px 5px 15px rgba(136, 109, 93, 0.616);
    padding: 20px;
    margin: auto;
}

main p {
    font-family: 'Work Sans', sans-serif;
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}

main a {
    text-decoration: none;
}

main h1 { 
    text-align: center;
    font-family: 'Alkatra', cursive;
    font-size: 2.5em;
    text-align: center;
    color: #602a29;
}

main  h2 {
    text-align: center;
    font-family: 'Alkatra', cursive;
    color: #602a29;
    text-indent: 8px;
}

main  h3 {
    text-align: center;
    color: #602a29;
    font-family: 'Alkatra', cursive;
    
}

aside {
    background-color: #b12a22;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
    max-width: 700px;
    min-width: 400px;
}

aside > h4 {
    background-color: #602a29;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    font-family: 'Alkatra', cursive;
    font-weight: normal;
}

aside > a {
    text-decoration: none;
    font-weight: bold;
}

strong {
    color: #f4403b; 
}

h2.sashimi {
    height: 300px;
    background-image: url(imagens/sashimi300.jpeg);
    background-size: cover;
    background-position: center left;
}

div.sushi01{
    background-image: url(imagens/combinasushi700.jpeg);
    background-position: center center;
    background-size: cover;
    height: 300px;
}

div.sushi02 {
    background-image: url(imagens/sushisalmao700.jpg);
    background-position: center center;
    background-size: cover;
    height: 300px;
}

div.hosso01 {
    background-image: url(imagens/hossomaki700.jpg);
    height: 300px;
    background-position: center center;
    background-size: cover;
}

div.uramki01 {
    background-image: url(imagens/uramki700.jpg);
    height: 300px;
    background-size: cover;
    background-position: center center
}

div.hotroll01 {
    background-image: url(imagens/hotroll700.jpg);
    background-position: center center;
    background-size: cover;
    height: 300px;
}


